/* Markdown theming tokens */
:root{
  --panel-background: #EBEBEB;
  --panel-text: #333333;
  --formatted-text: #000000;
  --link: #004BFA;
  --border: #777777;
  --code: rgba(255,255,255,.8);
  --table: var(--code);
  --table-header: rgba(128,128,128,.2);
}

p { line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; color: var(--formatted-text); }
h1 { font-size: 1.66em; margin: 0.7em 0; }
h2 { font-size: 1.5em; margin: 0.8em 0; }
h3 { font-size: 1.33em; margin: 0.9em 0; }
h4 { font-size: 1.16em; margin: 1em 0; }
h5 { font-size: 1em; margin: 1.1em 0; }
h6 { font-size: 0.83em; margin: 1.2em 0; text-transform: uppercase; letter-spacing: 2%; }

strong, em, del, code { color: var(--formatted-text); }
strong { font-weight: 700; }
em { font-style: italic; }
del { text-decoration: line-through; }
code, pre {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 500 600;
  background: var(--code);
  border: solid 0.25px var(--border);
}
code { padding: 0.25em; border-radius: 0.25em; }
pre { padding: 1em; border-radius: 0.5em; max-height: 30em; overflow: auto; }

a { color: var(--link); text-decoration: none; font-weight: 600; }
a:hover { text-decoration: underline; }

blockquote { font-style: italic; border-left: 1px dashed var(--border); padding-left: 1em; margin: 1em 0; }

ol, ul { line-height: 1.5; padding-left: 2em; margin: 0.5em 0; }
ol ol, ul ul { list-style-type: lower-alpha; padding-left: 2em; }
ul ul { list-style-type: circle; }
ol li, ul li { margin: 0.1em 0; }

table { width: 100%; border-collapse: collapse; background: var(--table); }
td, th { border: 0.5px solid var(--border); text-align: left; padding: 0.75em; }
th { background: var(--table-header); color: var(--formatted-text); font-weight: 500 600; }
hr { border: 0.25px solid var(--border); margin: 1em 0; }


